*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

header {
    background-color: #7cb518;
    height: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.primeira {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.primeira p {
    max-width: 30rem;
    margin-right: 2rem;
}

.primeira img {
    width: 21rem;
}

.segunda {
    background-color: #f3de2c;
    height: 25rem;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
}

.segunda img {
    width: 18rem;
    height: 22rem;
}

.segunda p {
    max-width: 30rem;
    justify-content: space-around;
}