*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

header {
    background-color: #008000;
    height: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;
}


