*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

header {
    background-color: #008000;
    height: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.primeira {
    display: flex;
    align-items: center;
}

p {
    max-width: 30rem;
    margin-right: 2rem;
}

img {
    width: 22rem;
}

